/*

Final Project
Author: Matthew Larsen
Date: 08/15/2024
SDEV 106
File: site_styles.css

*/

/*
Site colors:

color: #000000;

color: #ffffff;

color: #f5f5f5;

color: #f42c04;

color: #637a8d;

color: #124069;


*/

/*********************
Body Layout and General Styles
**********************/

body {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "head head head head head"
    "aside main main main main"
    "foot foot foot foot foot";
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  text-shadow: 1px 1px #000000;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #f42c04;
}

aside h2 {
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f42c04;
}

/***********************
Header Layout and Styles
************************/

header {
  grid-area: head;
  display: grid;
  background-color: #ffffff;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "nav nav nav nav nav"
    "sec sec sec sec sec";
  border-bottom: 2px solid black;
}

header section {
  grid-area: sec;
  font-size: 1.7rem;
  padding: 1.5rem;
  border-left: 2px solid black;
}

header ul {
  list-style: none;
}

nav {
  grid-area: nav;
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  padding: 0.6rem;
  border-bottom: 2px solid black;
  background-color: #124069;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Nav Link Styles */

nav a:link {
  color: #f5f5f5;
  text-decoration: none;
}

nav a:visited {
  color: whitesmoke;
  text-decoration: none;
}

nav a:hover {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: underline whitesmoke;
}
nav a:active {
  background-color: black;
  font-style: italic;
}

/*********************
Main Layout and Styles
**********************/

main {
  grid-area: main;
  background-color: white;
  font-size: 1.3rem;
  padding: 2rem;
  padding-bottom: 0;
  border-left: 2px solid black;
}

main section {
  margin-bottom: 2rem;
}

main li {
  margin-bottom: 1rem;
}

article ul {
  list-style: none;
}

/**********************
Aside Layout and Styles
***********************/

aside {
  grid-area: aside;
  font-size: 1.3rem;
  padding: 2rem 1rem;
  padding-right: 0;
  background-color: #637a8d;
}

aside ul {
  list-style-type: none;
}

aside li {
  margin-bottom: 1.5rem;
}

/* Aside Link Styles */

aside a:link {
  color: white;
  text-shadow: 1px 1px #124069;
  text-decoration: none;
}

aside a:visited {
  color: white;
  text-shadow: 1px 1px #124069;
  text-decoration: none;
}

aside a:hover {
  color: black;
  font-weight: bold;
}
aside a:active {
  background-color: whitesmoke;
  font-style: italic;
}

/**********************
Footer Layout and Styles
***********************/

footer {
  grid-area: foot;
  text-shadow: 1px 1px black;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;
  color: whitesmoke;
  background-color: #124069;
}
