/*

Final Project
Author: Matthew Larsen
Date: 08/15/2024
SDEV 106
File: resume_styles.css

*/

body {
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "head head head head head"
    "aside main main main main"
    "foot foot foot foot foot";
}

h1 {
  color: #f42c04;
  text-shadow: 2px 1px black;
  font-size: 4rem;
}

header {
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "nav nav nav nav nav";
  border-bottom: 0;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

aside img {
  width: 75%;
  border-radius: 50%;
  margin-bottom: 2rem;
}
